

.queue-title{

  text-align: left;
  font-size: x-large;
}

.queue-position{
  background-color: white;
  border-radius:5px;
  position: right;
  text-align: center;
  width: 100px;
  margin-right: 2%;
  margin-top: 2%;

}

.queue-position p{
  margin: 0;
}

.queue-image{
  height: 75px;
  width: 20%;
  margin-top: 3%;
  background-color: white;
}
