<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid" style="justify-content:center;">
    <div class="row justify-content-center"> <!-- Centered row -->
      <div class="col-sm-auto"> <!-- Automatically sized column -->
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "https://res.cloudinary.com/dqbiijjlp/image/upload/v1715610816/xtpku7m2xjgnmvgw91jx.png" %>
        <% end %>

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
