<div class="container-image">
      <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715634537/muomjjojrf9c16bgeoiz.png" style="width: 100%; height: auto; object-fit: cover;">
</div>


<div class="container-home">
  <h1 class="h2 text-center">Bidd farewell to those dreaded queues outside your favorite restaurants!</h1>
    <h2 class="h4 text-center">Tired of wasting precious time standing in line? Say goodbye to that inconvenience and hello to seamless dining experiences.</h2>
</div>


<div class="container-home">

    <div class="image-home-two">
      <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715635407/vyxaahc4ktgqgh0ywlnv.png" style="width: 100%; height: auto; object-fit: cover;">
    </div>

  <div class="text-sections">

    <div class="text-section">
      <h2 class="h3">With Q-Hopper, have fun hopping through queues effortlessly.</h2>
      <p>Simply join virtual queues for multiple restaurants simultaneously, all from the convenience of your phone. Track your position in each queue in real-time and receive notifications when it's your turn to accept a booking.</p>
    </div>

    <div class="text-section">
      <h2 class="h3">Don't run around town being desperate, let them come to you.</h2>
      <p>Once you receive a booking offer, you have 15 minutes to confirm and make your way to the restaurant. No more frantic rushing or missed opportunities – just smooth transitions from queue to table.</p>
    </div>

    <div class="text-section">
      <h2 class="h3">Be spontanious & adventerous, have many queues on the go! </h2>
      <p>Picture this: multiple queues at your fingertips, each representing a delectable dining destination waiting to be explored. Sign-up for Q-Hopper today and start hopping your way to hassle-free dining!</p>
    </div>

  </div>
</div>


<div class="container-home">
  <h1 class="h2 text-center">How it works</h1>
    <h2 class="h4 text-center">Three simple steps to a queue-free dining experience</h2>
  <div class="text-sections">

  <div class="text-section">
      <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715637147/sy1wa8wuqllrtqpjs4g3.png" style="width: 100%; height: auto; object-fit: cover;">
      <h2 class="h3 text-center">Image 1! </h2>
      <p class="text-center">One liner!</p>
    </div>

   <div class="text-section">
      <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715637213/u4tifbl5goarfiobbfig.png" style="width: 100%; height: auto; object-fit: cover;">
      <h2 class="h3 text-center">Image 1! </h2>
      <p class="text-center">One liner!</p>
    </div>

    <div class="text-section">
      <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715637245/twruavswnf4apntcw53m.png" style="width: 100%; height: auto; object-fit: cover;">
      <h2 class="h3 text-center">Image 1! </h2>
      <p class="text-center">One liner!</p>
    </div>

  </div>
</div>

 <footer class="footer-home">
  </div class="container-home">
    <p>© 2024 Q-HOPPER . All rights reserved.</p>
    <p>Designed and developed by Le Wagon students.</p>
  </div>
</footer>
