<%card_types = {accepted: 'booking-success', warning: 'booking-warning', normal: "" }%>

  <div class="card mt-1 <%=card_types[card_type]%> rounded-4">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class= "card-title text-start"><%= name %></h5>
        <div class="queue-position p-1">
          <p><%= group_size%></p>
          seats
        </div>
      </div>
    </div>
  </div>
  <%if card_type == :accepted || card_type == :warning%>
    <div class="venue-booking-information bg-primary p-1 rounded-5 rounded-top-0">
      5:00 minutes left
    </div>
  <%end%>
