    <div class="venue-booking-information bg-primary p-1 rounded-5 rounded-top-0"
    data-controller ='countdown'
    data-countdown-target = 'timer'
    data-countdown-text-value = "<%=updated_at%>"
    data-countdown-booking-value = "<%=booking_id%>"
    data-countdown-card-type-value = "<%= card_type.to_s%>">

    </div>
<div>
</div>
