    <div class="venue-booking-information bg-primary p-1 rounded-5 rounded-top-0"
    data-controller ='countdown'
    data-countdown-target = 'timer'
    data-countdown-text-value = "<%=updated_at%>">

    </div>
