.venue-queue-container{
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  background-color: $light;
  position: relative;
}


.venue-queue-position{
  background-color: white;
  border-radius:5px;
  position: right;
  text-align: center;
  width: 100px;
  margin-right: 2%;
  margin-top: 2%;

}

.venue-queue-position p{
  margin: 0;
}

.venue-queue-list{
  padding-top: 2%;
  height: 50vh;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.venue-queue-list p{
  margin: 0 auto;
}

.booking-success{
  background-color: #B1E87A;
}

.booking-warning{
  background-color: #F4BA4A ;
}


.venue-booking-information{
  margin-top: -1.5%;
  color: white;
  font-size: large;
}
