<h2 class="text-center mt-4 mb-4"
data-controller ='countdown'
data-countdown-target = 'timer'
data-countdown-text-value = "<%=updated_at%>"
data-countdown-booking-value = "<%=booking_id%>"
data-countdown-card-type-value = "<%= card_type.to_s%>">

</h2>
