<div class="container">
  <h2 class= 'mt-2 text-center'><%=title%></h2>
  <%= render 'queue_info', value: groups.size, parameter: parameter%>
  <div class="venue-queue-list pt-1 mt-2 bg-route">
    <%if groups.empty?%>
      <p class =d-flex align-items-center>Queue is empty</p>
    <%else%>
      <%groups.each do |group|%>
      <%if group.completed
          card_type = :normal
        elsif group.accepted
          card_type = :accepted
        elsif group.join
          card_type = :warning
        else
          card_type = :normal
        end

      %>
        <%= render 'queue_card', name: group.user.name, group_size: rand(1...4), card_type: card_type, updated_at: group.updated_at, booking_id: group.id%>
      <%end%>
    <%end%>
  </div>
</div>
