.container-restaurant {
  margin: 10px;
}

.fixed-section {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.button-container-index {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust margin as needed */
}

.btn-small {
  border-radius: 10px;
  width: calc(40% - 5px); /* Adjust width as needed */
}

.btn-big {
  border-radius: 10px;
  width: calc(60% - 5px); /* Adjust width as needed */
}

.row.flex-nowrap {
  overflow-x: auto;
  white-space: nowrap;
}

.row.flex-nowrap.overflow-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.col-auto {
  display: inline-block;
}

/* Hide the checkboxes */
.type {
  position: absolute;
  left: -9999px;
  transform: scale(0);
}

/* Style the labels */
label {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 65px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

/* Style for when labels are hovered */
label:hover {
  background-color: #f0f0f0;
}

/* Style for icons */
.icon {
  font-size: 24px;
}

/* Style for when checkboxes are checked */
.type:checked + label {
  background-color: #FFD9E9;
}

/* Ensure the card container is scrollable */
.card-container {
  max-height: 80vh; /* Adjust based on your layout */
  overflow-y: auto;
}
