<div class="container" style="padding-top: 200px;">
  <div class="row justify-content-center">
    <% @restaurants.each do |r| %>
      <div class="col-md-4">
        <div class="card mb-3" style="border-radius: 10px;">
          <div class="card-img-top" style="background-image: url('https://source.unsplash.com/random/?restaurant&<%= rand(1000) %>'); height: 200px; background-size: cover; border-radius: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title"><%= r.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
              </div>
              <div class="col">
                <a href="#" class="btn btn-secondary btn-block">Second Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
