

<div class="container-fluid py-0 fixed-section">
  <!-- Add your content for the fixed section here -->

  <div class="container-restaurant">
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
    </div>
  </div>

<div class="container-fluid py-0">
  <div class="row flex-nowrap overflow-auto" style="width: 100vw;">
    <div class="col-auto mr-3">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-pizza-slice"></i>Italian
      </div>
    </div>
    <div class="col-auto mr-3">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-pepper-hot"></i>Mexican
      </div>
    </div>
    <div class="col-auto mr-3">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-bowl-food"></i>Indian
      </div>
    </div>
    <div class="col-auto mr-3">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-bowl-rice"></i>Chinese
      </div>
    </div>
    <div class="col-auto mr-3">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-shrimp"></i>Thai
      </div>
    </div>
    <div class="col-auto">
      <div class="card card-body text-center" style="min-width: 100px; border-radius: 5px; height: 80%;">
        <i class="fa-solid fa-burger"></i>American
      </div>
    </div>
  </div>
</div>

</div>

<%= render "list-card", restaurants:@restaurants%>
