// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Importing Mapbox css
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS components partials
@import "components/index";
@import "components/footer";
@import "components/toggleview";

// Your pages index partial
@import "pages/index";

// Your bookings index partial
@import "bookings/index";

// Your CSS pages
@import "restaurants/index";

//import queues index logic
@import "queues/index";

.main {
  margin-top: 80px;
}

@import "restaurants/show";

// booking alert

@import "components/accept_booking";

@import 'venues/show';
