.card-booking {
  width: 350px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 16px auto;
  position: relative;
  overflow: hidden;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .card-header h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .queue-position {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center; /* Center-align the text */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .queue-position .number {
    font-size: 30px;
    color: #ff4081;
    font-weight: bold;
    margin-top: 5px; /* Adjust margin-top to move the number down */
  }

  .queue-position .text {
    font-size: 12px;
    color: #ff4081;
  }

  .card-body {
    margin-bottom: 16px;
  }

  .card-body p {
    margin: 4px 0;
    color: white;
  }

  .images {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .image-placeholder {
    width: 20%;
    padding-top: 20%;
    background-color: #fff;
    border-radius: 4px;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-button {
    color: white;
    width: 46%;
    height: 32px;
    background-color: #ff4081;
    border-radius: 4px;
    text-align: center;
    line-height: 2;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .footer-button-s {
    color: white;
    width: 46%;
    height: 32px;
    background-color: #D5DBE1;
    border-radius: 4px;
    text-align: center;
    line-height: 2;

    a {
      color: black;
      text-decoration: none;
    }
  }
}
